// header styles
header {
    background: linear-gradient( 45deg, #57AEE7, #36CD97);
    height: 35vh;
}
.nav {
    margin-top: -3vh;
    height: 11vh;
}
header ul {
    list-style: none;
    margin-left: 65%;
    color: white;
    margin-top: 0;
    height: 60px;
    display: flex;
    align-items: center;
}
header li {
    display: inline;
    font-size: 1.2rem;
    border: 1px white solid;
    padding: 8px 18px;
}
header .bird {
    font-size: 2rem;
    float: left;
    color: white;
    margin: 2vh 0 0 2%;
}
.signupButton {
    margin-right: 3%;
    width:72px;
    text-align: center;
    border-radius: 5%;
}

.logoutButton{
  width:72px;
  text-align: center;
  border-radius: 5%;
}

.logoutButton:hover{
  background-color: white;
  color:#1DA1F2;
}
.loginButton {
    background-color: #71DCB5;
    width:72px;
    text-align: center;
    border-radius: 5%;
    margin-right: 3%;
}

.loginButton:hover{
    background-color: white;
    color:#1DA1F2;

}
.signupButton:hover{
  background-color: white;
  color:#1DA1F2;
}

header h1,
header h3 {
    text-align: center;
    color: white;
    margin: 0;
    font-weight: 300;
}
// login stylings
.login {
    display: inline-block;
    width: 30%;
    background-color: #1DA1F2;
    color: white;
    text-align: center;
    margin-left: 33%;
    padding: 17px;
    margin-top: 4vh;
}

section h2{
  font-weight: 500;
}

section h3{
  font-weight: 100;
}
section .loginButton, section .signUpButton{
  background-color: white;
      color: #1DA1F2;
      border: none;
      width: 75%;
      margin-top: 2vh;
}

// twitter page stylings

.tweetbox{
  display: inline-block;
background: #C4FBE2;
padding: 12px;
margin-left: 26%;
margin-top: 4vh;

}

.tweetBody{
width: 400px;
}
.tweetSubmitButton{
  background-color: #71DCB5;
   border: none;
   color: white;
   padding: 11px;
   border-radius: 9%;
}

.camera{
  color: white;
font-size: 1.2rem;
}

.tweetfeed{
  background: #C4FBE2;
  width: 60%;
  margin-left: 20%;
  height: 80vh;
  margin-bottom: 12vh;
}

.tweetfeed h2{
  text-align: center;
    color: white;
    font-size: 3rem;
    padding-top: 2vh;
    background: #57AEE7;
    font-weight: 300;
}

.tweetfeed li{
  list-style: none;
}

.author{
  font-weight: bolder;
}

.body{
  background-color: #F5F8FA;
  width:80%;
}

.body{
  background-color: #F5F8FA;
width: 80%;
margin-left: 6%;
padding: 1vh;
}

.deleteButton{
  float: right;
background-color: #71DCB5;
border: none;
color: white;
padding: 11px;
border-radius: 9%;
margin-right: 1%;
}
